
body{
    margin: 0;
}

.header{
    background-image: url(backgroud.jpg);
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
}

.container{
    margin: 0px 160px;
}
.logo{
    margin-right: 25px;
    width: 140px;
    height: 130px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px hsl(0, 13%, 19%);
}
.fa-solid{
    color: aliceblue;
    position: absolute;
    top: 18px;
    right: 7px;
    width: 30px;
    height: 400px;
}
.headerLine{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-item{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: none;

    margin-right: 25px;
    transition: color 0.3s linear;

}
.nav-item:hover{
  
    color:lightcyan;

}


.cart{
    position: relative;
    border-right: 1px solid;
    padding-right:20px;
    height: 50px;
}
.num{
    color: black;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 850;
    padding-left: 10px;
    transition: color 0.3s linear;
}
.num:hover{
    color:lightcyan;
}
.phonetext{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding-left: 10px;

}
.phone-holder{
    display: flex;
    align-items: center;
}
.btn{
    background-color:cornflowerblue;
    text-align: center;
    padding: 10px  5px;
    width: 100px;
    height: 50px;
    margin-left: 50px;
    border-radius: 20%;
}

.btnStyle{
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: color 0.3s linear;
}
.btnStyle:hover{
    color: lightcyan;
}
.header-down{
    position: relative;
    margin-left: 40%;
}
.header-title{
    position: absolute;
    
    text-align: center;
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 400;
    
    
}
.header-subtitle{
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: 400;

}
.header-suptitle{
   
    font-size: 20px;
}
.header-suptitle::after{
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: black;
    top: 136px;
    left: -40px;
}
.header-suptitle::before{
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: black;
    top: 136px;
    left: 258px;
}
.card{
    position: relative;
    background-color: beige;
    width:310px;
    height:250px;
    border-radius: 15%;
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.cards-holder{
    display: flex;
    justify-content: space-between;
}

.fa-bomb{
    position: absolute;
    top: 10%;
    left: 45%;
    color: sienna;
}
.fa-file{
    position: absolute;
    top: 10%;
    left: 45%;
    color: sienna;
}
.fa-gift{
    position: absolute;
    top: 10%;
    left: 45%;
    color: sienna;
}
.text1{
    border: 2px dotted;
    font-family: "Bitter", serif;
    font-weight: 600;
    text-wrap: nowrap;
    padding: 10px;
}
.special{
    margin-top: 100px;
}